
body{
    background-color: #EBEBEB
}

h1{
    font-size: 40px;
    color: #02111B;
}

h2{
    font-size: 30px;
    color: #02111B;
}

p{
    font-size: 20px;
    color: #544F52; 
}

.Gallery Element {
    display:flex;
    justify-content: center;
}